/* 
    Document   : catalogo.css
    Created on : 17-nov-2013, 10:01:55
    Author     : daMgeL
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.carrito
{
    text-align: right;
}

/* General  
----------------------------------------------------------*/
html {
    margin: 0;
    padding: 0;
}
h1
{
    text-align: left;
}
h3
{
    text-align: right;
    font-size: 16px;
}


header, footer, hgroup,
nav, section {
    display: block;
}

body {

    background-color: #e4eef2;
    color: #696969;
    font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a:link {
    color: #3b3420;
    text-decoration: none;
}

a:visited {
    color: #3b3420;
    text-decoration: none;
}

a:hover {
    color: #3399ff;
    text-decoration: none;
}

a:active {
    color: #a52f09;
}

input[type=text]
{

    border: solid 1px #3399ff;
    padding-left: 10px;
    font-size: 20px;
    height: 30px;
    width: 40%;
}
#btn-buscar
{
    width: 10%;
    height: 30px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2980b9;
    border: 0;
    border-bottom: 2px solid #2475ab;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2475ab;
    box-shadow: inset 0 -2px #2475ab;    
}#btn-buscar:hover
{
    background: #3399ff;
}

/* Basic Layout
----------------------------------------------------------*/

header {
    height: 60px;
}
/* CONTENEDOR PRINCIPAL, ESTE RIGE TODO EL CONTENIDO INTERNO */
.contenedor-index
{
    border-radius: 10px;
    display: block;
    background-color: #FDFEFF;
    border:solid 1px #CCC;
    padding-top: 0px;
    width: 80%;
    height: auto;
    overflow:hidden;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    /* border: solid 1px #3399ff; */
}

/* Products
----------------------------------------------------------*/
#products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product {
    float: left;
    margin: 20px;
    width: 215px;
}

.product .productInfo {
    border: 1px solid #eee;
    height: 300px;
    overflow: hidden;
    background-image: linear-gradient( #ffffff , #e5eecc 100px);
}

.product h3 {

    font-size: 16px;
    color: #4FA5C0;
    font-weight: bolder;
    text-align: center;
    margin:0px;
    margin-top: 3px;
    padding: 0;
}

.product-image {
    background-color: #edece8;
    border: 1px #ccc solid;
    height: 200px;
    margin: 5px;
    padding: 0px;
    width: 200px;
}

.hide-from-desktop
{
    /* Only for mobile devices */
    display: none;
}

.product .description {
    padding-left: 10px;
    margin: 0;
}

.product .price {
    float: left;
    font-size: 1.5em;
    margin: 3px;
}

.product input[type=submit] {
    float: right;
    padding: 2px 7px;
    margin-left: 0px;
}

.frmCarrito input[type=text]
{
    margin: 5px;
    padding-left:10px;
    font-size: 14px;
    font-weight: bolder;
    height: 30px;
    width: 100px;
}
form .order-button {

    /* background: #27ae60; */
    background: transparent;
    color: #000;
    text-decoration: none;

    border-radius: 10px;
    border: 1px solid #cc9900;

    cursor: pointer;
    height: 25px;
    font-size: 12px;
    text-align: center;
    width: 50%;

}

form .order-button:hover {
    background: #4FA5C0;
    color: #FDFEFF;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;


}

/* Forms   
----------------------------------------------------------*/
fieldset {
    border: 1px solid #CCC;
    margin: 1em 0;
    padding: 1em;
}

.lbl-buscar
{
    font-family: Helvetica, Arial;
    font-size: 24px;
    font-weight: bold;
}
.categorias
{
    padding: 5px;
    margin: auto;
    height: 30px;
    width: 100%;
    background-color: #CCC;
}
span
{
    font-weight: bold;
    color:black;
}

.header
{
    /* border:solid 1px #4FA5C0; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.usuario-data
{
    float: right;
    margin-top:10px;
    height: 20px;
    width: auto;
}
.usuario-data p
{
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
}
.usuario-data p a
{
    padding-top: 12px;
    padding-left: 5px;
}
#usuario
{
    color: #3399ff;
    font-weight: bold;
    height: 20px;
    border-left: 1px solid #000;
    padding-left: 10px;

}
/*    INFO DEL CARRITO DE COMPRAS*/ 
#carrito-info
{

    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 40px;
    width: 200px;
    float: right;
    border:solid 1px #ccc;
    background: url('../../assets/cart.gif') no-repeat 10px 9px #eee;
    border-radius: 3px;
}
#carrito-info p
{
    padding-top: 12px;
    padding-left: 40px;
}

#enlace
{

    color: #3399ff;
    font-weight: bold;
    border-left: 1px solid #000;
    padding-left: 10px;
}
.brand
{

    
    width: 250px;
    
    overflow: hidden;
    margin: 10px;
    font-size: 18px;    
}
.brand img
{
    padding: 5px;
    height: 75px;
    width: 250px;
}
.buscador-options
{

    margin: 0px;
    padding: 3px;
}

.buscador-options .frm1
{

    padding: 0px;
    border: 0px;
    width: 90%;
    margin-right: auto;
    margin-left: 25px; /*MARGEN QUE MANTIENE ALINEADO EL CAMPO DEL BUSCADOR */
}
#form1
{
    margin-left: 50px;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 90%;
    
}


